<mat-card>
  <h2>Operation Progress</h2>
  <div *ngIf="udpService.viewDetailMode" class="progress-container">
    <span *ngFor="let chunk of chunkList">
      <div *ngIf="chunk.succeeded" class="green-circle">
        <img/>
      </div>
      <div *ngIf="!chunk.succeeded" class="red-circle">
        <img/>
      </div>
    </span>
  </div>
  <div *ngIf="!udpService.viewDetailMode">
    <mat-spinner *ngIf="udpService.operationInProgress"
                  [diameter]="30"></mat-spinner>
  </div>
  <div *ngIf="udpService.operationTime">
    The operation took {{udpService.operationTime[0]}} seconds and {{udpService.operationTime[1] / 1000000}} milliseconds
  </div>

</mat-card>
